#sec1-presal .logo-navbar a {
    color: #fff;
    font-weight: 600;
    text-decoration: none
}

#sec1-presal .logo-navbar img {
    width: 75px;
    height: 75px;
}

#sec1-presal .logo-navbar {
    z-index: 9999;
}

#sec1-presal .navbar ul {
    display: flex;
    margin: auto;
}

#sec1-presal .navbar {
    display: flex;
    margin: auto;
    z-index: 999;
}

#sec1-presal .navbar li {
    list-style: none;
    margin-right: 30px;
}

#sec1-presal .navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}

#sec1-presal .banner {
    width: 100%;
    position: relative;
    top: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#sec1-presal .banner img {
    height: 0%;
    margin-top: -6%;
    z-index: 1;
}

#sec2-presal .banner-text:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#sec2-presal .banner h1,
#sec2-presal .banner span {
    color: #fff;
    font-family: 'Times';
    font-size: 5rem;
}

#sec2-presal .banner-text:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

#sec2-presal {
    background-image: linear-gradient(178deg, #000000 5%, rgba(255, 255, 255, 0) 39%), url(img/petroleobruto.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 105vh;
    width: 100%;
    margin-top: -6%;
}

#sec2-presal .banner {
    position: relative;
    top: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#sec2-presal .banner {
    color: #fff;
    font-family: 'Times';
}

#sec5-presal .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sec5-presal .txt1 {
    text-align: center;
    padding: 50px 90px 0px 90px;
}

#sec5-presal .txt1 p {
    padding: 0px 20px 0px 20px;
    font-size: 30px;
}

#sec5-presal .partes-his {
    text-align: center;
}

#sec5-presal .container1 {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    align-items: center;
}

#sec5-presal .flexwrap {
    display: flex;
    flex-wrap: wrap;
}

#sec5-presal .arrowed div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#sec5-presal .arrow-6 {
    /* more triangle */
    height: 10px;
    width: 10px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-width: 3px 3px 0 0;
    transform: rotate(45deg);
}

#sec5-presal .arrowed {
    position: relative;
    height: 200px;
    width: 200px;
    transform: rotate(90deg);
    padding-left: 58rem;
}

#sec5-presal .arrow-6:before,
.arrow-6:after {
    content: '';
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    border-width: 3px 3px 0 0;
}

#sec5-presal .arrow-6:before {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-width: 3px 3px 0 0;
    /* top - distance minus border */
    top: 7px;
    left: -10px;
}

#sec5-presal .arrow-6:after {
    border: 1px solid rgb(0, 0, 0);
    border-width: 3px 3px 0 0;
    /* top - distance plus border */
    top: -13px;
    left: 10px;
}

.carregamento {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000000;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #000000;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000000;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: url('img/bone.png') no-repeat center center;
    background-size: 10%;
    animation: borda-loading 1s infinite linear;
}

@keyframes borda-loading {
    0% {
        scale: 1;
        opacity: 1;
    }
    100% {
        transform: rotate(359deg);
    }
}