#sec1-presal .logo-navbar a {
    color: #fff;
    font-weight: 600;
    text-decoration: none
}

#sec1-presal .logo-navbar img {
    width: 75px;
    height: 75px;
}

#sec1-presal .logo-navbar {
    z-index: 9999;
}

#sec1-presal .navbar ul {
    display: flex;
    margin: auto;
}

#sec1-presal .navbar {
    display: flex;
    margin: auto;
    z-index: 999;
}

#sec1-presal .navbar li {
    list-style: none;
    margin-right: 30px;
}

#sec1-presal .navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}

#sec1-presal .banner {
    width: 100%;
    position: relative;
    top: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#sec1-presal .banner img {
    height: 0%;
    margin-top: -6%;
    z-index: 1;
}

#sec2-presal {
    background-image: url(img/img.homepresal.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 105vh;
    width: 100%;
    margin-top: -6%;
}

#sec2-presal .banner {
    position: relative;
    top: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#sec2-home .banner {
    position: relative;
    top: 43%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#sec2-home .banner h1,
#sec2-home .banner span {
    color: #fff;
    font-family: 'Times';
}

#sec2-home .banner-text:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#sec2-home .banner-text:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

#sec2-presal .banner {
    color: #fff;
    font-family: 'Times';
}

#sec3-presal .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sec3-presal .txt1 {
    text-align: center;
    padding: 50px 180px 0px 180px;
}

#sec3-presal .txt1 p {
    text-align: justify;
    padding: 0px 43px 0px 45px;
}

#sec4-presal .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sec4-presal .txt1 {
    text-align: center;
    padding: 50px 180px 0px 180px;
}

#sec4-presal .txt1 p {
    text-align: justify;
    padding: 0px 20px 0px 20px;
}

#sec6-presal .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sec6-presal .txt1 {
    text-align: center;
    padding: 50px 90px 0px 90px;
}

#sec6-presal .txt1 p {
    text-align: justify;
    padding: 0px 20px 0px 20px;
}

#sec7-presal .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sec7-presal .txt1 {
    text-align: center;
    padding: 50px 90px 0px 90px;
}

#sec7-presal .txt1 p {
    text-align: justify;
    padding: 0px 20px 0px 20px;
}