body {
    background-image: radial-gradient(circle at 51.71% 59.73%, #516eb9 0, #1f3259 50%, #000002 100%);
}

body i {
    color: #fff;
}

body p {
    color: #fff;
}

body h1 {
    color: #fff;
}

#sec1-presal .logo-navbar a {
    color: #000000;
    font-weight: 600;
    text-decoration: none
}

#sec1-presal .logo-navbar img {
    width: 75px;
    height: 75px;
}

#sec1-presal .logo-navbar {
    z-index: 9999;
}

#sec1-presal .navbar ul {
    display: flex;
    margin: auto;
}

#sec1-presal .navbar {
    display: flex;
    margin: auto;
    z-index: 999;
}

#sec1-presal .navbar li {
    list-style: none;
    margin-right: 30px;
}

#sec1-presal .navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}

#sec1-presal .banner {
    width: 100%;
    position: relative;
    top: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#sec1-presal .banner img {
    height: 0%;
    margin-top: -6%;
    z-index: 1;
}

#sec2-presal {
    background-image: linear-gradient(178deg, #000000 5%, rgba(255, 255, 255, 0) 39%), url(img/boat-2646176.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 105vh;
    width: 100%;
    margin-top: -6%;
}

#sec2-presal .banner {
    position: relative;
    top: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#sec2-home .banner {
    position: relative;
    top: 43%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#sec2-home .banner h1,
#sec2-home .banner span {
    color: #fff;
    font-family: 'Times';
}

#sec2-home .banner-text:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#sec2-home .banner-text:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

#sec2-presal .banner {
    color: #fff;
    font-family: 'Times';
    text-shadow: 0px 7px 5px black;
}

#sec3-presal .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sec3-presal .txt1 {
    text-align: center;
    padding: 18px 198px 0px 180px;
}

#sec3-presal .txt1 p {
    text-align: justify;
    padding: 0px 43px 0px 45px;
}

#sec4-presal .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sec4-presal .txt1 {
    text-align: center;
    padding: 50px 190px 0px 180px;
}

#sec4-presal .txt1 p {
    text-align: justify;
    padding: 0px 56px 0px 36px;
}

#sec6-presal .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sec6-presal .txt1 {
    text-align: center;
    padding: 50px 105px 0px 90px;
}

#sec6-presal .txt1 p {
    text-align: justify;
    padding: 0px 20px 0px 20px;
}

#sec7-presal .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sec7-presal .txt1 {
    text-align: center;
    padding: 50px 90px 0px 90px;
}

#sec7-presal .txt1 p {
    text-align: justify;
    padding: 0px 20px 0px 20px;
}